body, input, textarea, button, select {
	font-family: 'Nanum Gothic', sans-serif;
}

ul {
	list-style: none;
	padding-left: 10px;
}

ul>li {
	margin: 5px 0;
}

.pixel-input {
	width: 20px;
	border: none;
	border-bottom: dashed 2px purple;
	text-align: center;
}

.my-select {
	padding: 5px;
	font-size: 16px;

}

.my-select>option {
	font-size: 16px;
}

#text-color-select {
	width: 100px;
	background-color: none;
}

#box-color-select {
	width: 100px;
	background-color: none;
}